* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background:
  linear-gradient(
     rgba(56, 87, 172, 0.75),
     rgba(147, 134, 193, 0.75)
   );
   background-repeat: no-repeat;
   background-attachment: fixed;
}

a:hover {color:#16398E;}

/* universal nav bar */
.navbar {
  font-size: 18px;
  background-color: #fafafa;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links , .logo {
  text-decoration: none;
  color: #700000;
  font-family: 'Prompt', sans-serif;
}

.main-nav li {
  text-align: right;
  margin: 15px 15px 15px 0px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 40px;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #700000;
  font-size: 32px;
}

.active {
  display: block;
}

@media screen and (min-width: 500px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 80px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }
}


/* universal footer */
footer {
  background-color: #fafafa;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  padding-bottom: 40px;
  text-align: center;
}

.contact-links {
  display: flex;
}

.contact {
  margin: 0 20px;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .footer-container {
    width: auto;
    height: 200px;
  }

  .footer-text {
    font-size: 30px;
  }

  .contact {
    margin: auto;
    padding: 0px 20px;
  }

  .bottom-links {
    width: 24px;
  }

  .copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .footer-container {
    width: auto;
    height: 150px;
  }

  .footer-text {
    font-size: 20px;
  }

  .contact {
    margin: auto;
    padding: 0px 20px;
  }

  .bottom-links {
    width: 20px;
  }

  .copyright {
    font-size: 10px;
  }
}



/* index.html CSS */
.home-container {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.hero {
  background:
  linear-gradient(
     rgba(56, 87, 172, 0.75),
     rgba(147, 134, 193, 0.75)
   ),
   url("Images/hero.png") center / cover;
  display: flex;
  flex-direction: column;
  height: 550px;
  padding-left: 80px;
  padding-top: 40px;
}

.greeting {
  color: #fafafa;
  line-height: 1.2;
  padding: 50px;
}

.hi {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  font-weight: 500;
}

.who-am-i {
  font-family: 'Crimson Text', serif;
  font-weight:100;
  font-size: 32px;
  line-height: 1.8;
  padding-top: 40px;
}

.hero-button {
  align-items: center;
  background-color: #700000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  display: flex;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  justify-content: center;
  height: 40px;
  margin-top: 24px;
  width: 200px;
}

.case-study {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding: 80px;
}

.case-study-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  text-align: left;
}

.case-study-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}

.case-study-description {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.4;
  width: 400px;
}

.cloud-world-link {
  color: #700000;
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  padding-top: 20px;
  text-decoration: none;
}

.about-me {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.about-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
}

.about-text {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  max-width: 600px;
}

.more-about-me-button {
  align-items: center;
  background-color: #700000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  display: flex;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 200px;
  text-align: center;
}

/* Home Page Media Queries 1000px */
@media screen and (max-width: 1000px) {
  .hero {
    height: 550px;
    padding-left: 40px;
    padding-top: 40px;
  }

  .greeting {
    font-size: 24px;
  }

  .hi {
    font-size: 38px;
  }

  .who-am-i {
    font-size: 24px;
  }

  .case-study {
    flex-direction: column;
  }

  .cloud-world-images {
    width: 300px;
  }

  .case-study-name-container {
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
    width: auto;
  }

  .case-study-name {
    font-size: 24px;
    padding-bottom: 20px;
  }

  .case-study-description {
    font-size: 18px;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }

  .cloud-world-link {
    font-size: 14px;
  }

  .about-header {
    font-size: 24px;
  }

  .about-text {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Home Page Media Queries 375px */
@media screen and (max-width: 375px) {
  .hero {
    height: 300px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .greeting {
    font-size: 14px;
    width: auto;
  }

  .hi {
    font-size: 18px;
  }

  .who-am-i {
    font-size: 14px;
    padding-top: 20px;
  }

  .hero-button {
    width: 120px;
    font-size: 10px;
    height: 24px;
    margin-top: 20px;
  }

  .case-study {
    flex-direction: column;
  }

  .cloud-world-images {
    width: 200px;
  }

  .case-study-name-container {
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }

  .case-study-name {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .case-study-description {
    font-size: 12px;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }

  .cloud-world-link {
    font-size: 12px;
    padding-top: 10px;
  }

  .about-me {
    padding: 50px 10px 50px 10px;
  }

  .about-header {
    font-size: 14px;
  }

  .about-text {
    font-size: 12px;
    margin-top: 20px;
  }

  .more-about-me-button {
    width: 120px;
    font-size: 10px;
    height: 24px;
    margin-top: 20px;
  }
}



/* project.html CSS */
.cloud-world-container {
  height: 100vh;
  width: auto;
  margin: 0 auto;
}

/* intro */
.case-study-intro {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 40px;
}

.case-study-intro-image-container {
  display: flex;
  flex-direction: row;
}

.final-3 {
  margin-right: 50px;
  max-width: 450px;
}

.case-study-intro-text-container {
  display: flex;
  flex-direction: column;
}

.cloud-world-title {
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  padding-bottom: 20px;
}

.intro-text {
  color: #fafafa;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 1.4;
  max-width: 450px;
  padding-bottom: 20px;
}

.view-prototype-button-intro {
  align-items: center;
  background-color: #700000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  height: 40px;
  width: 200px;
}

/* Section Titles and Text */
.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.section-text {
  font-family: 'Crimson Text', serif;
  font-size: 21px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  text-align: center;
}

/* Section Buttons */
.view-prototype-button {
  align-items: center;
  background-color: #700000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
}

.view-full-analysis-button , .view-full-personas-button , .view-full-user-stories-button , .view-full-user-flows-button , .view-full-wireframes-button , .view-full-style-guide-button , .view-full-mockups1-button , .view-full-mockups2-button , .back-to-the-top-button {
  align-items: center;
  background-color: #700000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 200px;
}

/* Sections */

/* Problem & Solution */
.problem-solution {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 50px;
}

.problem {
  margin-right: 50px;
  max-width: 450px;
  text-align: center;
}

.problem-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
}

.problem-text {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.4;
}

.solution {
  max-width: 450px;
  text-align: center;
}

.solution-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
}

.solution-text {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.4;
}

/* Competitive Analysis */
.competitive-analysis {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.competitive-analysis-images {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.google-drive {
  padding-right: 40px;
}

.dropbox {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 20px 40px 0px;
}

.pinterest {
  padding-left: 40px;
  padding-bottom: 20px;
}

/* User Survey */
.user-survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.user-survey-images {
  background-color: #fafafa;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.user-survey-images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.survey1 {
  display: flex;
  flex-direction: row;
}

.results1 {
  max-width: 300px;
  padding-top: 100px;
  text-align: left;
}

.results2 {
  margin: 0px 20px;
  max-width: 300px;
  padding-top: 100px;
  text-align: left;
}

.results-number {
  color: cornflowerblue;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}

.results-text {
  font-family: 'Crimson Text', serif;
  font-size: 26px;
}

.survey-results-3 {
  max-width: 600px;
}

/* Personas */
.personas {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.personas-images {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
  text-align: center;
}

.personas-images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edward , .cathy {
  max-width: 500px;
  padding: 40px;
}

.persona-1 , .persona-2 {
  margin-bottom: 20px;
}

.persona-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
}

.goals , .frustrations , .motivations {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 10px;
  text-align: left;
  padding: 2rem 0;
}

.persona-text {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.4;
  list-style: circle;
  text-align: left;
}

.motivations-text {
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
}

/* User Stories */
.user-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.user-stories-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.user-stories-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.user-stories-list {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 1.6;
  list-style: circle;
  text-align: left;
}

/* User Flows */
.user-flows {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.user-flows-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 80px 50px;
}

.user-flows-1 {
  max-width: 500px;
  padding: 20px;
}

.user-flows-4 {
  max-width: 500px;
}

/* Wireframes */
.wireframes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.wireframes-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.wireframes-1 {
  max-width: 450px;
  padding: 20px;
}

/* Usability Tests */
.usability-testing-round-1 {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.usability-testing-round-1-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.usability-tests-1 {
  max-width: 750px;
}

.usability-text {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 1.4;
  padding-top: 20px;
}

/* Brand Identity */
.brand-identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.section-title-brand-identity {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
}

.brand-identity-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.brand-identity-images-container {
  display: flex;
  flex-direction: row;
}

.brand-color {
  max-width: 350px;
}

.brand-color-1 {
  max-width: 380px;
}

.brand-color-2 {
  max-width: 200px;
  margin-top: 50px;
}

.brand-typography {
  max-width: 350px;
  margin: 0px 50px;
}

.brand-typography-1 {
  max-width: 380px;
}

.brand-typography-2 {
  max-width: 250px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.type-size {
  text-align: left;
}

.type-size1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.type-size2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 20px;

}

.type-size3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;

}

.type-size4 {
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;

}

.type-size5 {
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;

}

.type-size6 {
  font-family: 'Prompt', sans-serif;
  font-size: 12px;
  margin-bottom: 20px;

}

.brand-logo {
  max-width: 380px;
}

.brand-logo-1 {
  max-width: 380px;
}

.brand-logo-2 {
  max-width: 200px;
  margin-top: 40px;
}

/* Mockups & Prototype v.1 */
.mockups-prototype-v1 {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.mockups-prototype-v1-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.mockups-prototype-v1-images-container {
  max-width: 700px;
}

.mockups-1 {
  max-width: 600px;
}

.mockups-6 , .mockups-7 {
  max-width: 345px;
  padding: 50px 50px 0px 50px;
}

/* Preference Testing */
.preference-testing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.preference-testing-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.preference-testing-images-container {
  max-width: 1200px;
}

.preference-yes-2 , .preference-yes-3 , .preference-no-2 , .preference-no-3 {
  max-width: 548px;
  padding: 20px 40px;
}

.preference-text1 , .preference-text2 {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  margin: auto;
  max-width: 800px;
  line-height: 1.4;
}

/* Mockups & Prototype v.2 */
.mockups-prototype-v2 {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.mockups-prototype-v2-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.mockups-prototype-v2-images-container {
  max-width: 700px;
}

.mockups-v2-1 {
  max-width: 600px;
}

.mockups-v2-5 , .mockups-v2-6 {
  max-width: 345px;
  padding: 50px 50px 0px 50px;
}

/* Usability Testing */
.usability-testing-round-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.usability-testing-round-2-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.usability-1 {
  max-width: 750px;
}

/* Evolution */
.evolution {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.section-title-evolution {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
}

.evolution-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  text-align: center;
}

.evolution-1 {
  max-width: 800px;
}

/* Cloud World Ending */
.cloud-world-ending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

.cloud-world-ending-images {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 80px 50px;
}

.cloud-world-ending-images-container {
  max-width: 700px;
}

.final-1 {
  max-width: 600px;
}

.final-4 , .final-5 {
  max-width: 345px;
  padding: 50px 50px 0px 50px;
}

/* Conclusion */
.conclusion {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
}

/* Project Page Media Queries 1200px */
@media screen and (max-width: 1200px) {
  .google-drive {
    max-width: 215px;
  }

  .dropbox {
    max-width: 265px;
  }

  .pinterest {
    max-width: 215px;
  }

  .survey1 {
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }

  .results1 {
    padding-top: 0px;
  }

  .results2 {
    margin: 0px;
    padding-top: 40px;
  }

  .survey-results-3 {
    max-width: 550px;
  }

  .brand-identity-images-container {
    align-items: center;
    flex-direction: column;
  }

  .brand-color {
    max-width: 500px;
  }

  .brand-color-2 {
    margin-bottom: 50px;
  }

  .brand-typography {
    max-width: 500px;
  }

  .brand-typography-2 {
    margin-bottom: 50px;
  }

  .type-size {
    margin-left: 70px;
  }

  .brand-logo {
    max-width: 500px;
  }

  .brand-logo-2 {
    margin-bottom: 50px;
  }

  .preference-testing-images-container {
    max-width: 800px;
  }

  .preference-yes-2 , .preference-yes-3 , .preference-no-2 , .preference-no-3 {
    max-width: 349px;
    padding: 20px 10px;
  }

  .preference-text1 , .preference-text2 {
    font-size: 18px;
    max-width: 500px;
  }
}

/* Project Page Media Queries 1024px */
@media screen and (max-width: 1024px) {
  .evolution-1 {
    max-width: 750px;
  }
}

/* Project Page Media Queries 800px */
@media screen and (max-width: 800px) {
  .final-3 {
    max-width: 350px;
    margin-right: 30px;
  }

  .cloud-world-title {
    font-size: 24px;
  }

  .intro-text {
    font-size: 18px;
  }

  .section-title {
    font-size: 20px;
  }

  .section-text {
    font-size: 16px;
  }

  .problem-solution {
    align-items: center;
    flex-direction: column;
  }

  .problem {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .problem-title {
    font-size: 20px;
  }

  .problem-text {
    font-size: 16px;
  }

  .solution-title {
    font-size: 20px;
  }

  .solution-text {
    font-size: 16px;
  }

  .competitive-analysis-images {
    padding: 50px 110px;
  }

  .google-drive {
    padding-right: 25px;
    max-width: 400px;
  }

  .dropbox {
    border-style: none;
    margin: 50px 0px;
    padding: 0px;
    padding-right: 25px;
    max-width: 400px;
  }

  .pinterest {
    padding-left: 0px;
    padding-right: 25px;
    max-width: 400px;
  }

  .user-survey-images-container {
    flex-direction: column;
  }

  .survey1 {
    flex-direction: row;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .results2 {
    padding-top: 0px;
    margin-left: 20px;
  }

  .results-number {
    font-size: 50px;
  }

  .results-text {
    font-size: 22px;
  }

  .survey-results-3 {
    max-width: 500px;
  }

  .personas-images-container {
    align-items: center;
    flex-direction: column;
  }

  .persona-name {
    font-size: 20px;
  }

  .goals , .frustrations , .motivations {
    font-size: 16px;
  }

  .persona-text {
    font-size: 14px;
  }

  .motivations-text {
    font-size: 14px;
  }

  .user-stories-title {
    font-size: 20px;
  }

  .user-stories-list {
    font-size: 16px;
  }

  .user-flows-images {
    padding: 50px 20px;
  }

  .user-flows-1 {
    max-width: 350px;
  }

  .user-flows-4 {
    max-width: 350px;
  }

  .usability-tests-1 {
    max-width: 550px;
  }

  .usability-text {
    font-size: 18px;
  }

  .section-title-brand-identity {
    font-size: 20px;
  }

  .brand-identity-images-container {
    align-items: center;
    flex-direction: column;
    max-width: 375px;
  }

  .brand-color {
    max-width: 375px;
  }

  .brand-color-1 {
    max-width: 360px;
  }

  .brand-color-2 {
    max-width: 180px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .brand-typography {
    max-width: 375px;
    margin-top: 50px;
  }

  .brand-typography-1 {
    max-width: 360px;
  }

  .brand-typography-2 {
    max-width: 220px;
  }

  .brand-logo {
    max-width: 375px;
  }

  .brand-logo-1 {
    max-width: 360px;
    margin-top: 50px;
  }

  .brand-logo-2 {
    max-width: 220px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .mockups-1 {
    max-width: 500px;
  }

  .mockups-6 , .mockups-7 {
    max-width: 300px;
  }

  .mockups-v2-1 {
    max-width: 500px;
  }

  .mockups-v2-5 , .mockups-v2-6  {
    max-width: 300px;
  }

  .usability-1 {
    max-width: 550px;
  }

  .section-title-evolution {
    font-size: 20px;
  }

  .evolution-1 {
    max-width: 550px;
  }

  .final-1 {
    max-width: 500px;
  }

  .final-4 , .final-5 {
    max-width: 300px;
  }
}

/* Project Page Media Queries 600px */
@media screen and (max-width: 600px) {
  .case-study-intro {
    flex-direction: column;
    padding: 70px 40px;
  }

  .final-3 {
    margin: 0;
    margin-bottom: 40px;
  }

  .case-study-intro-text-container {
    align-items: center;
  }

  .cloud-world-title {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .intro-text {
    font-size: 16px;
    text-align: center;
  }

  .view-prototype-button-intro {
    height: 32px;
    width: 160px;
    font-size: 12px;
  }

  .competitive-analysis-images {
    padding: 50px;
  }

  .user-survey-images {
    padding: 50px 20px;
  }

  .results-number {
    font-size: 40px;
  }

  .results-text {
    font-size: 18px;
  }

  .survey-results-3 {
    max-width: 350px;
  }

  .wireframes-1 {
    max-width: 350px;
  }

  .wireframes-4 {
    max-width: 315px;
  }

  .usability-tests-1 {
    max-width: 370px;
  }

  .usability-text {
    font-size: 14px;
  }

  .mockups-1 {
    max-width: 350px;
  }

  .mockups-6 , .mockups-7 {
    max-width: 280px;
  }

  .mockups-v2-1 {
    max-width: 350px;
  }

  .mockups-v2-5 , .mockups-v2-6  {
    max-width: 280px;
  }

  .usability-1 {
    max-width: 350px;
  }

  .evolution-1 {
    max-width: 350px;
  }

  .final-1 {
    max-width: 350px;
  }

  .final-4 , .final-5 {
    max-width: 280px;
  }
}

/* Project Page Media Queries 375px */
@media screen and (max-width: 375px) {
  .final-3 {
    max-width: 250px;
  }

  .section-title {
    font-size: 16px;
  }

  .section-text {
    font-size: 14px;
  }

  .view-prototype-button {
    height: 32px;
    width: 160px;
    font-size: 12px;
  }

  .view-full-analysis-button , .view-full-personas-button , .view-full-user-stories-button , .view-full-style-guide-button , .back-to-the-top-button {
    height: 32px;
    width: 160px;
    font-size: 12px;
  }

  .problem-title {
    font-size: 16px;
  }

  .problem-text {
    font-size: 14px;
  }

  .solution-title {
    font-size: 16px;
  }

  .solution-text {
    font-size: 14px;
  }

  .google-drive {
    padding-right: 25px;
    width: 250px;
  }

  .dropbox {
    border-style: none;
    margin: 50px 0px;
    padding: 0px;
    padding-right: 25px;
    width: 250px;
  }

  .pinterest {
    margin-bottom: 40px;
    padding-left: 0px;
    padding-right: 25px;
    width: 250px;
  }

  .user-survey-images {
    padding: 50px 10px;
  }

  .user-survey-images-container {
  }

  .survey1 {
    flex-direction: column;
  }

  .results1 {
    max-width: 250px;
  }

  .results2 {
    max-width: 250px;
    margin-left: 0px;
    margin-top: 30px;
  }

  .survey-results-3 {
    width: 300px;
  }

  .edward , .cathy {
    padding: 10px;
  }

  .user-stories-title {
    font-size: 16px;
  }

  .user-stories-list {
    font-size: 12px;
  }

  .user-flows-1 {
    max-width: 300px;
  }

  .user-flows-4 {
    max-width: 300px;
  }

  .wireframes-1 {
    max-width: 320px;
  }

  .wireframes-4 {
    max-width: 280px;
  }

  .usability-tests-1 {
    max-width: 320px;
  }

  .usability-text {
    font-size: 12px;
    margin: auto;
    max-width: 250px;
  }

  .section-title-brand-identity {
    font-size: 16px;
  }

  .brand-color {
    max-width: 300px;
  }

  .brand-color-1 {
    max-width: 300px;
  }

  .brand-color-2 {
    max-width: 150px;
    margin-top: 30px;
  }

  .brand-typography {
    max-width: 300px;
    margin: 0px;
    margin-top: 50px;
  }

  .brand-typography-1 {
    max-width: 300px;
  }

  .brand-typography-2 {
    max-width: 180px;
    margin-top: 30px;
  }

  .type-size {
    margin-left: 40px;
  }

  .brand-logo {
    max-width: 300px;
  }

  .brand-logo-1 {
    max-width: 300px;
    margin-top: 30px;
  }

  .brand-logo-2 {
    max-width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mockups-1 {
    max-width: 300px;
  }

  .mockups-6 , .mockups-7 {
    max-width: 250px;
  }

  .preference-yes-2 , .preference-yes-3 , .preference-no-2 , .preference-no-3 {
    max-width: 310px;
    padding: 10px;
  }

  .preference-text1 , .preference-text2 {
    font-size: 14px;
  }

  .mockups-v2-1 {
    max-width: 300px;
  }

  .mockups-v2-5 , .mockups-v2-6  {
    max-width: 250px;
  }

  .usability-1 {
    max-width: 320px;
  }

  .section-title-evolution {
    font-size: 16px;
  }

  .evolution-1 {
    max-width: 320px;
  }

  .final-1 {
    max-width: 300px;
  }

  .final-4 , .final-5 {
    max-width: 250px;
  }
}



/* About Page */
.about-container {
  margin: auto;
  height: 100vh;
  width: 100%;
}

/* Beginning */
.about-intro-container {
  display: flex;
  justify-content: center;
  padding: 80px 40px;
}

.matt-photo {
  width: 275px;
}

.about-intro-text-container {
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
  padding-left: 40px;
}

.about-intro-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}

.about-intro-text1 {
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.about-intro-text2 {
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  line-height: 1.4;
}

/* Middle */
.about-section2-container {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  padding: 80px 40px;
}

.about-section2-text-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.about-section2-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-section2-text1 {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.about-section2-text2 {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.6;
}

.about-section2-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.camera-photo {
  margin-left: 40px;
  width: 350px;
}

/* End */
.about-section3-container {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  padding: 80px 40px;
}

.about-section3-text-container {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.about-section3-title1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-section3-text1 {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.6;
}

.about-section3-title2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.about-section3-text2 {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.6;
}

.about-section3-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-section3-button {
  align-items: center;
  background-color: #700000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  display: flex;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  justify-content: center;
  height: 40px;
  margin-top: 24px;
  width: 200px;
}

.about-section3-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elephant-photo {
  margin-left: 40px;
  width: 350px;
}

/* About Page Media Queries 800px */
@media screen and (max-width: 800px) {
  .matt-photo {
    width: 250px;
  }

  .about-intro-title {
    font-size: 30px;
  }

  .about-intro-text1 , .about-intro-text2 {
    font-size: 20px;
  }

  .about-section2-title {
    font-size: 20px;
  }

  .about-section2-text1 , .about-section2-text2 {
    font-size: 16px;
  }

  .camera-photo {
    margin-left: 20px;
    width: 250px;
  }

  .about-section3-title1 {
    font-size: 20px;
  }

  .about-section3-title2 {
    font-size: 20px;
  }

  .about-section3-text1 , .about-section3-text2 {
    font-size: 16px;
  }

  .elephant-photo {
    width: 250px;
    margin-left: 20px;
  }
}

/* About Page Media Queries 500px */
@media screen and (max-width: 500px) {
  .about-intro-container {
    flex-direction: column;
  }

  .about-intro-image-container {
    margin: auto;
  }

  .matt-photo {
    width: 295px;
  }

  .about-intro-text-container {
    width: 295px;
    margin: auto;
    margin-top: 20px;
    padding-left: 0px;
  }

  .about-intro-title {
    font-size: 24px;
  }

  .about-intro-text1 , .about-intro-text2 {
    font-size: 18px;
  }

  .about-section2-container {
    align-items: center;
    flex-direction: column;
  }

  .about-section2-text-container {
    margin-bottom: 40px;
    width: 295px;
  }

  .about-section2-title {
    font-size: 20px;
  }

  .about-section2-text1 , .about-section2-text2 {
    font-size: 16px;
  }

  .camera-photo {
    width: 295px;
    margin: auto;
  }

  .about-section3-container {
    align-items: center;
    flex-direction: column;
  }

  .about-section3-text-container {
    margin-bottom: 40px;
    width: 295px;
  }

  .about-section3-title1 {
    font-size: 20px;
  }

  .about-section3-title2 {
    font-size: 20px;
    margin-top: 40px;
  }

  .about-section3-text1 , .about-section3-text2 {
    font-size: 16px;
  }

  .about-section3-button-container {
    margin-top: 20px;
  }

  .elephant-photo {
    width: 295px;
    margin: auto;
  }
}



/* Contact Page */
.contact-container {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 550px;
  padding: 100px 50px;
}

.contact-intro {
  margin: auto;
  margin-bottom: 30px;
}

.contact-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  margin-bottom: 5px;
}

.contact-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.form-container {
  margin: auto;
  width: 75%;
}

.contact-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.contact-input {
  border: .1rem solid #c4c4c4;
  color: #242424;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.contact-textarea {
  border: .1rem solid #c4c4c4;
  font-family: 'Montserrat', sans-serif;
  color: #242424;
  height: 150px;
  margin-top: 2px;
  padding: 5px;
  width: 100%;
}

.form-button {
  align-items: center;
  background-color: #700000;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fafafa;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  height: 40px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/*Contact Page Media Queries 600px*/
@media screen and (max-width: 600px) {
  .contact-container {
    padding: 70px 30px;
  }

  .contact-intro {
    margin-left: 25px;
  }

  .contact-header {
    font-size: 32px;
  }
}
